body
{
	display: grid;
	color: rgb(66, 66, 66);
	font-family: Coolvetica_b,Helvetica,sans-serif;
}

img	
{
	width: 30%;
	height: auto;
	display: inline;
	border-radius: 50%;
	vertical-align: middle;
	float: left;
}

div
{
	margin: 5px;
	padding: 5px;
	width: 100%;
	float: left;
}

h1 
{
	padding: 0px;
	padding-top: 10%;
	margin: 0px;
	vertical-align: middle;
	display: inline-block;
}

p
{
	padding: 0px;
	width: auto;
	text-align: left;
}

.borderless
{
	border: none;
}
.flashCard
{
	background-color: #EDF6FF;
	width:auto;
	vertical-align: middle;
	text-align: center;
	border-radius: 30px;
	max-width: 400px;
}

.flashCardImage
{
	max-width: 50px;
}
.floatfix
{
	clear: both;
}